### Imports

In [17]:
import sys
import pybinlex
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Load the dataset

In [18]:
# load the data
df = pd.read_csv('traits_sample.csv')
df.shape

(4124617, 18)

### Resample data

In [37]:
# drop the family column that is below n threshold
n = 5000
traits_db = df[df['family'].map(df['family'].value_counts()) > n]

In [38]:
# resample the data to n samples per family
n = 12000
for family in traits_db['family'].unique():
    family_df = traits_db[traits_db['family'] == family]
    if family_df.shape[0] > n:
        traits_db = traits_db.drop(family_df.sample(family_df.shape[0] - n, random_state=42).index)

In [41]:
traits_db['family'].value_counts()

family
AdLoad      11736
Adond       11716
Agensla     11700
Adnur       11687
AdClicer    11661
Agent       11639
AccPhish    11185
AdBape      10349
Addrop      10234
Name: count, dtype: int64

In [40]:
# # remove traits that are 2 tokens or less
# traits_db = traits_db[traits_db['trait'].map(lambda x: len(x.split()) > 2)]

### Extract common traits

In [42]:
n = 200
top_n_traits = pd.DataFrame()

# for each family, get the top n traits that are most frequent in that family
for family in traits_db['family'].unique():

    # get the top n traits for the family
    family_traits = traits_db[traits_db['family'] == family]['trait']
    result = family_traits.value_counts().head(n)
    
    # convert to dataframe
    result = pd.DataFrame(result)
    result.columns = ['count']
    result['family'] = family
    result['trait'] = result.index

    # reorder columns
    result = result[['family', 'trait', 'count']]
    result = result.reset_index(drop=True)

    # concat to top_n_traits
    top_n_traits = pd.concat([top_n_traits, result])

top_n_traits = top_n_traits.reset_index(drop=True)
top_n_traits

        family                                              trait  count
0     AccPhish                            8b c0 ff 25 ?? ?? ?? ??    160
1     AccPhish                                           5e 5b c3     61
2     AccPhish                                  ff 25 ?? ?? ?? ??     58
3     AccPhish                                        5f 5e 5b c3     50
4     AccPhish                                        33 c0 eb 02     30
...        ...                                                ...    ...
1795     Agent  8d 4d ?? 89 75 ?? e8 69 b4 ff ff 80 7d ?? ?? 7...      9
1796     Agent  ff 35 ?? ?? ?? ?? ff 35 ?? ?? ?? ?? e8 51 18 0...      9
1797     Agent                57 ff 15 ?? ?? ?? ?? e9 7f 08 00 00      9
1798     Agent                            39 35 ?? ?? ?? ?? 75 29      9
1799     Agent             8b f8 8a 45 ?? 88 45 ?? e9 3b ff ff ff      9

[1800 rows x 3 columns]

In [43]:
# # remove traits that appear in more than n families
# n = 5
# top_n_traits = top_n_traits[top_n_traits['trait'].map(top_n_traits['trait'].value_counts()) <= n]
# top_n_traits

In [44]:
# save the top n traits to csv
top_n_traits.to_csv('top_n_traits.csv', index=False)

### Extract sample traits from a malware

In [45]:
path = "Copy of HEUR-Trojan.Win32.Agent.pef-e6137b71a7cf0e808cd1fad2611a6c2256a77daa7458ffcc7c4284863f378193"

# load the target PE file
pe = pybinlex.PE()
result = pe.read_file(path)

# check if the PE file was read successfully
if result is False: sys.exit(1)

# disassemble the PE file
disassembler = pybinlex.Disassembler(pe)
disassembler.disassemble()

# get the disassembled code traits
sample_traits = disassembler.get_traits()

# convert to df
sample_traits = pd.DataFrame(sample_traits, columns=['trait', 'family'])

# get top n traits
sample_traits = sample_traits['trait'].value_counts().head(100)
sample_traits = pd.DataFrame(sample_traits)
sample_traits.columns = ['count']
sample_traits['trait'] = sample_traits.index
sample_traits = sample_traits.reset_index(drop=True)
sample_traits = sample_traits[['trait', 'count']]
sample_traits

                                                trait  count
0                                                  c3     38
1                                            5e 5d c3     29
2   33 c0 8b 4d ?? 5f 5e 33 cd 5b e8 11 eb ff ff c...     23
3                                                  cf     21
4     ff 75 ?? ff 75 ?? ff 75 ?? ff 75 ?? ff d0 eb 02     21
..                                                ...    ...
95                c7 05 ?? ?? ?? ?? ?? ?? ?? ?? eb 2d      4
96                                        85 c0 78 08      4
97                83 c0 20 50 ff 15 ?? ?? ?? ?? 5d c3      4
98                                        39 18 75 13      4
99                                     8b 44 24 ?? c3      4

[100 rows x 2 columns]

### Find Common traits

In [46]:
results = {}
for family in top_n_traits['family'].unique():
    c = 0
    for x in sample_traits['trait']:
        if x in top_n_traits[top_n_traits['family'] == family]['trait'].tolist():
            c += 1

    results[family] = c

results = pd.DataFrame(results.items(), columns=['family', 'count'])
results = results.sort_values(by='count', ascending=False)
results = results.reset_index(drop=True)
results

     family  count
0     Adnur     10
1   Agensla      7
2    AdLoad      6
3  AdClicer      3
4     Agent      1
5  AccPhish      0
6    AdBape      0
7    Addrop      0
8     Adond      0